@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background:#E3F2FD;
}

.popup{
  position:absolute;
  left: 50%;
  top:-25%;
  visibility: hidden;
  width: 490px;
  border-radius: 5px;
  padding: 13px 17px 20px;
  background:#fff;
  border-top: 3px solid #EA4D67;
  box-shadow: 0 10px 25px rgba(52,87,220.0.5);
  transform: translateX(-50%);
  display: flex;
  transition: all 0.25s ease;
}

.popup.show{
  top: 0;
  visibility: visible;
}
.popup.online{
  border-color: #2ECC71;
}
.popup  .icon i{
  width:50px;
  height: 40px;
  display: flex;
  color: #fff;
  background:#EA4D67;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 1.2rem;
}

.popup.online .icon i{
  background-color: #2ECC71;
}
.popup .title{
  color: #474747;
  font-size: 1.2rem;
  margin: 3px 0 10px;
}

.popup .reconnect{
  border: none;
  outline:none;
  color: #fff;
  font-size: 0.8rem;
  background-color: #5327f0;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 4px;
  padding: 9px;
}
.popup.online .reconnect {
  background-color: #bfbfbb;
  pointer-events: none;
}

@media screen and (max-width: 550px) {
  .popup{
    width: 100%;
    padding: 10px 15px 17px;
  }
}